html,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

svg {
    display: block;
}

#bMainMenu {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 46px;
    height: 46px;
    background: #2b6392;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hamburger>div {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
}

#divOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    transition: transform 0.5s ease-in-out;
    background-color: #00000099;
    padding: 80px 20px 20px 20px;

    /* display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content; */
    display: flex;
    flex-direction: column;

    gap: 8px;
}

#divOverlay.collapsed {
    transform: translate(-100%, 0%);
}

#divOverlay * {
    pointer-events: initial;
}

.ui-option {
    display: flex;
    gap: 4px;
    color: white;
}